
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>All Listings</h3>
    <ul>
        <ul>
            <% if(Array.isArray(allListings) && allListings.length > 0){ %>
                <% allListings.forEach(listing => { %>
                    <li>
                        <a href="/listings/<%= listing._id %>">
                            <%= listing.title %>
                        </a>
                    </li>
                <% }) %>
            <% } else { %>
                <p>No listings found</p>
            <% } %>
        </ul>
    </ul>
</body>
</html>